.flex-container{
    display: flex;
    align-items: center;
}
.rounded-img{
    border-radius: 50%;
}
#header-container{
    background-color: #048c7f;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: lightgray;
}
#resume-button{
    background-color: #048c7f;
    border: 1px solid #048c7f;
}
#resume-button:hover{
    border: 3px solid gray;
}
#portfolio-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    place-items: center;
}
.dark-bg{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}
.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #048c7f;
    color: white;
    /* height: 270px; */
    width: 500px;
    padding: 10px;
    border-radius: 0.75rem;
}
.project-img{
    border-radius: 0.5rem;
}
.contact-link{
    text-decoration: none;
    color: #048c7f;
}
.contact-list{
    text-align: center;
    list-style: none;
}
#heading-text{
    color: #048c7f;
}
.contact-detail{
    display: flex;
    width: 350px;
    justify-content:center;
    align-items:center;
    gap: 10px;
}
.list-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.code-button{
    background-color: white;
    font-size: 12px;
    margin-top: 2px;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.code-button:hover{
    background-color: lightgray;
    color: black;
}
.code-link{
    text-decoration: none;
}
#skill-stack{
    width: 60%;
}
#skills{
    text-align: center;
}
.skill-badge{
    padding: 3px;
}
.project-desc{
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: justify;
    padding: 5px;
}
h4{
    font-weight: normal;
    font-size: 1.25rem;
}


@media only screen and (max-width:1000px){
    #portfolio-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-container{
        width: 380px;
    }
    .rounded-img{
        height: 170px;
    }
    #skill-stack{
        width: 70%;
    }
    .project-img{
        height: 160px;
    }
}